.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  -ms-overflow-style: none;
}


html::-webkit-scrollbar {
  display: none;
}

body {
  background: #282c34 !important;
}

.ComboInputs input {
  width: 140px;
}

.circle:hover {
  background: rgb(150,0,0);
  box-shadow: 0px 0px 0px 2px rgb(150,0,0);
}

.circle{
  border: 0px;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  position: relative;
  display: inline-block;
  vertical-align: top;
  bottom: 3px;
  background: rgb(170,0,0);
  transition: .5s;
}
.circle.plus:before,
.circle.plus:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:white;
}
.circle.plus:before{
    width: 6px;
    margin: 10px auto;
}
.circle.plus:after{
    margin: auto 10px;
    height: 6px;
}

.label {
  color: white !important;
  margin-bottom: 0;
}

.smaller input {
  width: 75px !important;
}

body {
  color: white;
}



.navbar-dark .navbar-nav .nav-link .white {
  transition: linear .1s;
  color: rgba(255,255,255,.75);
}

.navbar-dark .navbar-nav .nav-link .white:hover {
  color: rgba(255,255,255,1);
}

.white:hover::after {
  transition: .2s ease all;
  width: 75%;
}

.white::after {
  transition: .45s all ease .2s;
  left: 5%;
  top: 70%;
  width: 0;
  height: 3px;
  background-color: rgba(255,255,255,.75);
}

.sliding-box {
  position: relative;
}

.sliding-box .underline::after {
  transition: .45s ease all .2s;
  left: 15%;
  top: 95%;
  width: 0%;
  height: 2px;
  background-color: rgba(255,255,255,.75);
}

.sliding-box:hover .underline::after {
  transition: .2s ease all;
  width: 70%;
}

.underline::after {
  content: "";
  position: absolute;
}

.list-sizing {
  min-height: 70px;
  padding-bottom: 8px;
  min-width: 306px;
  margin: 10px;
}

.xtra-sm {
  font-size: 11px;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
}

.group-header {
  padding: 0 8px;
}

.icon-group-header {
  width: 60px;
}

.icon-group-items {
  margin-top: auto;
  margin-bottom: auto;
  height: auto;
  width: auto;
}

.icon-group-items svg {
  transition: 0.75s;
}

.icon-group-items svg:hover {
  transition: 0.75s;
  -webkit-transition: 0.75s;
  -moz-transition: 0.75s;
  -ms-transition: 0.75s;
  -o-transition: 0.75s;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  cursor: pointer;
}

.hoz-combos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: auto;
}

.ht-20 {
  height: 23px;
}

.main-groupings {
  padding: 25px;
  margin: 20px;
  background: rgb(250,250,250);
  color: black;
}

.title-input {
  background: transparent;
  border: none;
  color: rgb(150,150,150);
  font-size: 1.5rem;
  font-weight: 500;
  width: 250px;
  padding: 0 0;
}

.icon-group-items-no-spin {
  margin-top: auto;
  margin-bottom: auto;
  height: auto;
  width: auto;
  color: greenyellow;
}

.icon-group-items-no-spin-regular {
  margin-top: auto;
  margin-bottom: auto;
  height: auto;
  width: auto;
  color: white;
}


@keyframes spinning  {
  0% { transform: rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


.spin90 {
  transition: .25s;
  transform: rotate(90deg);
}

.spinR90 {
  transition: .25s;
}

.card-header {
  cursor: pointer;
}

.light {
  color: black;
}